@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>

<h2>History</h2>
<p>Our store opened in 2004. Our headquarters is located in beautiful Cleveland, Ohio. We were started by our founder, Christian, when he was 18 years old.</p>

<h2>Mission</h2>
<p>We strive to provide affordable clothing to people from all walks of life. We strive to offer the latest fashion trends at the highest quality service. We aim to inspire both confidence and style in our customers.</p>

<h2>Vision</h2>
<p>Our vision is to be the go-to destination for anybody in need of affordable clothing. We aspire to create a diverse collection of clothing for all people, while maintaining the upmost quality and care to our products. We envision a world where everyone can look good and feel good at an affordable price.</p>