@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mb-5">
    <h1 class="display-4">Welcome to Christian's Clothes</h1>
    <div class="row">
        <div class="col-md-6">
            <p>
                Welcome to Christian's Clothes, an online web app! Our app is designed to provide users with an excellent online shopping service no matter where you are browsing from! We have passionately curated a diverse selection of clothing to choose from, allowing customers to have the best experience possible when using our app.
            </p>
        </div>
        <div class="col-md-6">
            <p>
                When you're using Christian's Clothes, you will easily be able to browse thousands of different types of clothes from all stores and brands. We have created a very user-friendly interface that ensures you will have the easiest time possible choosing from all different types of clothes available on the web. We hope that you enjoy using Christian's Clothes!
            </p>
        </div>
    </div>
</div>